body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(./wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;

  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  color: white; /* Text color */
}

.container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  justify-content: space-between;
}
.right {
  padding: 20px;
  padding-top: 30px;
  padding-left: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right-content {
  display: flex;
  gap: 15px;
  flex-direction: column;
  font-weight: bolder;
}
.left {
  padding: 20px;
  padding-top: 30px;
  padding-right: 30px;
}
.buttons {
  display: flex;
  gap: 15px;
  padding: 10px;
}
.buttons > button {
  outline: none;
  background: inherit;
  color: inherit;
  border: none;
  padding: 10px;
}
input {
  outline: none;
  color: white;
  background: inherit;
  border: white;
  font-size: larger;
  text-align: center;
}

input[type="text"] {
  width: 150px;
  border-bottom: 2px solid white;
}

input[type="submit"] {
  border: 2px solid white;
}
input[type="submit"]:active {
  border: 4px solid white;
}
.buttons > button:hover {
  cursor: pointer;
}
.description {
  font-size: 2em;
}
.name {
  font-size: 1em;
}
.localTime {
  font-size: 1em;
}
.metrics {
  font-size: 0.7em;
}
.temperature {
  font-size: 3em;
}
.square {
  width: 128px;
  height: 128px;
}

.weatherIcons {
  width: 30px;
  height: 30px;
}
.weatherSquare {
  padding: 20px;
  display: flex;
  gap: 10px;
}
.subtitle {
  padding-bottom: 10px;
}
.forecast {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forecastContent {
  padding: 20px;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
}
.dayName {
  font-size: larger;
  font-weight: bolder;
}
.smaller {
  font-size: small;
}
.dayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecastContent::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.forecastContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.forecastContent::-webkit-scrollbar-thumb {
  background: rgb(21, 75, 156);
  border-radius: 10px;
}

/* Handle on hover */
.forecastContent::-webkit-scrollbar-thumb:hover {
  background: rgb(21, 75, 156);
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
